/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #000000AA;
    background-alt: #282B31FF;
    foreground:     #ebebeb;
    selected:       #337db5;
    active:         #45a5ed;
    urgent:         #45a5ed;
}
